---
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import {getPost, getPosts} from '../../api/getPosts'
import { PortableText } from 'astro-portabletext'
import { getImageSrc } from '../../utils/functions';


export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params;
const post = await getPost(slug);
const { title, description, mainImage, publishedDate, updatedDate, body } = post;

---

<Layout title={title} description={description} classes="pt-0" headerImg={getImageSrc(mainImage) }>
    <hgroup class="header">
        <h1>{title}</h1>
        {
            publishedDate && (
                <span>
                    Publié le <FormattedDate date={publishedDate} />
                    {
                        updatedDate && (
                            <span>
                                 - Mise à jour le <FormattedDate date={updatedDate} />
                            </span>
                        )
                    }
                </span>
            )
        }
    </hgroup>
    <section class="content">
        <PortableText value={body} />
    </section>
</Layout>

<style>
    .header {
        @apply text-center border-b-[0.5px] border-b-secondary pb-md mb-xl py-lg;
        > img {
            @apply shadow-md w-full rounded-lg mb-md;
        }
    }

    .content {
        @apply w-10/12 m-auto;
    }

    @media (max-width: 720px) {
        .header, .content {
        @apply w-full;
    }
    }
</style>