---
import FormattedDate from '../../components/blocks/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import {getPost, getPosts} from '../../api/getPosts'
import { getImageSrc } from '../../utils/functions';
import BlockFactory from '../../components/blocks/BlockFactory.astro';


export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params;
const post = await getPost(slug);
const { title, header, tags, publishedDate, updatedDate, content } = post;

---

<Layout title={title} classes="pt-0 lg:pb-xl lg:w-11/12 m-auto">
    {header && (
        <header>
            <img src={getImageSrc(header)} alt="image d'en-tête" />
        </header>
    )}
    <main>
        <hgroup>
            <h1>{title}</h1>
            {
                publishedDate && (
                    <span>
                        Publié le <FormattedDate date={publishedDate} />
                        {
                            updatedDate && (
                                <span>
                                     - Mise à jour le <FormattedDate date={updatedDate} />
                                </span>
                            )
                        }
                    </span>
                )
            }
            {
                tags?.length > 0 && (
                    <ul class="flex justify-center gap-md mt-sm">
                        {tags.map(tag => <li class="bg-primary rounded-sm shadow w-fit px-xs py-xxs">{tag}</li>)}
                    </ul>
                    
                )
            }
        </hgroup>

        <section>
            { content.map(block => <BlockFactory block={block}/>)}
        </section>
    </main>
</Layout>

<style>
    header {
        > img {
            @apply shadow-md w-full mb-md h-[40vh] object-cover;
        }
    }

    main {
        hgroup {
            @apply text-center border-b-[0.5px] border-b-secondary pb-lg;
        }

        section {
            @apply w-11/12 m-auto flex flex-col gap-md mt-sm mb-lg;

            a {
                @apply underline ;
            }

            ul {
                @apply list-image-[url('/list-custom-marker.png')] leading-7 pl-md;
                li {
                    @apply pl-xs
                }
            }
        }
    }

    @media (max-width: 720px) {
        main > section {
            @apply w-full;
        }
    }
</style>