---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import { getPosts } from '../../api/getPosts';
import { getImageSrc } from '../../utils/functions';

const posts = await getPosts();

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} >
    <h1 class="sr-only">Blog</h1>
    <ul class="articles">
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug.current}`}>
                        <img src={getImageSrc(post.mainImage)} alt="" class="rounded-lg w-full h-[40vh] object-cover bg-primary" />
                        <hgroup>
                            <h3 class="text-h4 font-italiana uppercase">{post.title}</h3>
                            {<FormattedDate date={post.updatedDate ?? post.publishedDate} />}
                        </hgroup>
                        
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    .articles {
        @apply flex flex-wrap gap-lg list-none;
        > li {
            width: calc(50% - 1rem);
            a {
                @apply flex flex-col gap-sm overflow-hidden;
                * {
                    @apply transition-all block text-center;
                }
            }
            &:hover * {
                @apply text-accent;
            }
            &:hover img {
                @apply shadow-lg scale-[101%];
            }
        }
    }
   
    @media (max-width: 720px) {
        .articles {
            @apply gap-xs;

            li {
                @apply w-full;
            }
        }
    }
</style>