---
import { PortableText } from 'astro-portabletext';
import { getHomepage } from '../api/getPages';
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
import { getImageSrc } from '../utils/functions';

const post = await getHomepage();
const { title, subtitle, introduction, services } = post;

---

<Layout
	title={title}
	description={subtitle}
    classes="py-0"
>
    <div class="relative background">
        <hgroup class="pt-lg">
            <Logo/>
            <h1>{title}</h1>
            <h2 class="-mt-sm">{subtitle}</h2>
        </hgroup>

        <section class="flex flex-col gap-sm py-xl">
            <PortableText value={introduction} />
        </section>
    </div>

    <section class="services">
        <h3>{services.title}</h3>
        {
            services.content.length > 0 && (
                <div>
                    {
                        services.content.map((service) => (
                            <article>
                                <div>
                                    <img src={getImageSrc(service.serviceImg)} alt="" />
                                </div>
                                <ul>
                                    {
                                        service.items.map(item => <li>{item}</li>)
                                    }
                                </ul>
                            </article>
                        ))
                    }
                </div>
            )
        }
      
    </section>

    
</Layout>

<style>

    div.background::before {
        @apply bg-primary h-[112%];
    }
    hgroup {
        @apply m-auto flex flex-col gap-xs items-center relative;

        > svg {
            @apply w-[25vw] h-auto;
        }
    }

    .services {
        @apply pb-lg;
        h3 {
            @apply uppercase text-[6rem] text-right font-italiana -mr-xxl text-secondary;
        }
        > div {
            @apply flex flex-col;

            article {
                @apply flex gap-xl items-center max-w-[50%];
                > div {
                    @apply bg-primary h-[30vh] w-[30vh] rounded-full flex justify-center items-center shadow-sm;

                    img {
                        @apply h-[15vh];
                    }
                }
                ul {
                    @apply list-image-[url('/list-custom-marker.png')] leading-7;
                    li {
                        @apply pl-xs
                    }
                }

                &:last-of-type {
                    @apply self-end -mt-[15vh];
                }
            }
        }
    }
</style>