---
import {getMenus, getSettings} from '../api/getSettings'
import { getImageSrc } from '../utils/functions';
import { EmailIco } from '../utils/ico';
import { AboutIco, BlogIco, HomeIco } from '../utils/ico';
import NavLink from './NavLink.astro';

const { items } = await getMenus()

const getActiveRouteHeader = () => {
    const { pathname } = Astro.url
    switch(pathname) {
        case '/about' :
            return getImageSrc(items.about.header)
        case '/contact':
        return getImageSrc(items.contact.header)
        default:
            return undefined
    }
}

const header = getActiveRouteHeader()

---

<header>
    <nav>
        <NavLink href="/" Ico={HomeIco}>{items.home}</NavLink>
        <NavLink href="/blog" Ico={BlogIco}>{items.blog}</NavLink>
        <NavLink href="/about" Ico={AboutIco}>{items.about.menu}</NavLink>
        <NavLink href="/contact" Ico={EmailIco}>{items.contact.menu}</NavLink>
    </nav>
    {header && (<img src={header} alt="image d'en-tête" />)}
</header>

<style>
	header {
        nav {
            @apply w-full fixed bottom-0 bg-white lg:static flex items-center lg:justify-center lg:gap-md px-md pb-sm pt-md lg:py-lg shadow-xl lg:shadow-sm z-20  lg:px-0;
        }

        > img {
            @apply w-full h-[40vh] object-cover shadow-md hidden lg:block;
        }
	}
</style>
